.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 4.2rem;
    text-decoration: none;
    color: var(--primary);
    margin-top: 3.2rem;
}

.logoLink:hover {
    filter: brightness(75%);
    transition: all 0.3s ease-in-out;
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}